*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;;
}
html{
    scroll-behavior: smooth;
}
article{
    scroll-margin-top: 60px;
}
#subir i{
    width: 50px;
}
/*Lineas*/

.line{
    width: 45%;
    border: 2px solid rgb(255, 176, 29);
    margin-bottom: 25px;
}

/* modo oscuro */
.claro{
    background-color: rgb(245, 245, 245);
    
    transition: all 1.5s ease;
}

/*Encabezado*/

header{
    display: flex;
    justify-content: center;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
}
/*Modo oscuro*/
header div{
    
    display: flex;
    position: absolute;
    right: 25%;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 50%;
    background-color: rgb(199, 199, 199);
    width: 30px;
    
    height: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


h1{
    color:rgb(189, 189, 189);
    font-family: 'Noto Serif JP', serif;
    font-size: 40px;
    margin: 50px 0 60px 0;
}

/* Cuerpo */
main {
    display: flex;
    justify-content: center;
}

p{
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;

}
.perfil{
    font-size: 26px;
}

article{
    margin-bottom:56px ;
}

ul{
    list-style-type:  none;
    font-weight: 400;
    font-size: 18px;
}
article ul{
    list-style-type: circle;
}
ul > li{
    margin-bottom: 20px;
}
h2{
    color:rgb(44, 44, 44);
    font-weight: 500;
   margin-bottom: 20px;
    font-size: 25px;
   
    
}
#nav{
    font-weight: 500;
}
.img{
    height: 350px;
    background-size: cover;
    background-image: url(https://yuliesc.github.io/CV_Aleatorio/imagen/retrato.jpg);
    background-repeat: no-repeat;
    background-position: center;
 }
 .derecha{
   
    width: 30%;
    margin-left: 30px;
}
.izquierda{
   
   width: 20%;
    margin-right: 30px;
}
nav{
    padding: 35px 0px 10px 30px;
    color:white;
    background-color: rgb(44, 44, 44);
}

#nav > li{
    margin-bottom: 30px;

}
 #nav li a{
    color: rgb(245, 245, 245);
    text-decoration: none;
 }
#nav li :hover {
    color:rgb(255, 176, 29) ;
}

.redes{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.redes > ul > li{
    width: 30px;
    
    line-height: 30px;
    margin: 0 6px;
    text-align: center;
    cursor: pointer;
    border: 2px solid;
    border-radius: 50%;
    float:left
}
/*funciones*/
.oscuro a i{
    color: rgb(44, 44, 44)
}
.oscuro{
    border-color:rgb(44, 44, 44);
}

.claroborde a i{
    color: rgb(241, 241, 241);
}
.claroborde li{
    border-color:rgb(241, 241, 241);
}

.art{
   opacity: 0;
    transition: all 0.5s ease;
}

.active{
    opacity: 1;
}



/* Pie de pagina*/
footer{
    background-color: rgb(255, 176, 29);;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
footer p{
    font-size: 15px;
}

/*funciones de body*/
.osc {
    background-color: rgb(34, 34, 34);
    color: aliceblue;

    transition: all 1.5s ease;
}

.osc section h2{
    color: aliceblue;

    transition: all 1.5s ease;
}


